extends layout

block content
	h1.heading=title
	h2 Latest Event
	div(id="#{latestFightContent.date.replace(/ /g,'')}")
		p
			=latestFightContent.date
			|  - 
			b=latestFightContent.name
			| 
			a(href="#{latestFightContent.link}")
				sup 
					small.wiki (Wikipedia)
			span.showAll(onclick="showResults(this)") [Show results]
			span.showAll(onclick="loadRecords(this, '#{latestFightContent.date.replace(/ /g,'')}')") [Load fighters records]
		div
			table#pastEvent.hideResults
				each value in latestFightContent.fights
					tr
						- if (typeof(value) === 'string') {
							- if (!value.includes('Winner')) {
							th(colspan=3)
								b=value
							- } else {
							td(colspan=3,class='fightResult')
								=value
							- }
						- } else {
						each val in value
							- if (typeof(val) === 'string') {
								td #{val}
							- } else if (typeof(val) === 'object' && val[1]) {
								td 
									a(href="#{val[1]}",target="_blank") #{val[0]} 
									sup
										a(class="getRecord",onclick="getRecord('#{val[1].replace('https://en.wikipedia.org/wiki/','')}', this)")
											| [?]
							- } else {
								td #{val[0]}
							- }
						- }
	h2 Upcoming Events
	each event in nextFightContent
		div(id="#{event.date.replace(/ /g,'')}")
			p.extend
				=event.date
				|  - 
				b=event.name
				| 
				a(href="#{event.link}")
					sup 
						small.wiki (Wikipedia)
				span.showAll(onclick="loadRecords(this, '#{event.date.replace(/ /g,'')}')") [Load fighters records]
			div.extendable
				table
					each eventvalue in event.fights
						tr
							- if (typeof(eventvalue) === 'string') {
							th(colspan=3)
								b=eventvalue
							- } else {
							each eventval in eventvalue
								- if (typeof(eventval) === 'string') {
									td #{eventval}
								- } else if (typeof(eventval) === 'object' && eventval[1]) {
									td 
										a(href="#{eventval[1]}",target="_blank") #{eventval[0]} 
										sup
											a(class="getRecord",onclick="getRecord('#{eventval[1].replace('https://en.wikipedia.org/wiki/','')}', this)")
												| [?]
								- } else {
									td #{eventval[0]}
								- }
							- }
					- if (event.announced) {
						th(colspan=3)
							i Announced bouts
					- }
					each bout in event.announced
						tr
							td
								=bout[0]
							td
								- if (typeof(bout[1]) === 'object' && bout[1][1]) {
									a(href="#{bout[1][1]}",target="_blank") #{bout[1][0]} 
									sup
										a(class="getRecord",onclick="getRecord('#{bout[1][1].replace('https://en.wikipedia.org/wiki/','')}', this)")
											| [?]
								- } else {
									=bout[1][0]
								- }
							td
								- if (typeof(bout[2]) === 'object' && bout[2][1]) {
									a(href="#{bout[2][1]}",target="_blank") #{bout[2][0]} 
									sup
										a(class="getRecord",onclick="getRecord('#{bout[2][1].replace('https://en.wikipedia.org/wiki/','')}', this)")
											| [?]
								- } else {
									=bout[2][0]
								- }